:root {
    --width: 1640px;
    --padding: 140px;
    --borders: 8px;
    --color_main_black: #110A1D;
    --color_main_white: #FFF;
    --color_transp_white60: rgba(255, 255, 255, 0.60);
    --color_transp_white12: rgba(255, 255, 255, 0.12);
    --color_main_blue: #478BF9;
    --color_additional_purple: #9DADF2;
    --color_deep_blue: #1E1231;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    /* Firefox */
    scrollbar-color: var(--color_main_blue) var(--color_transp_white12);
    scrollbar-width: thin;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 299px;
    background-color: var(--color_transp_white12);
}

::-webkit-scrollbar-track {
    margin-top: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color_main_blue);
    border-radius: 10px;
    width: 8px;
    height: 104px;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    background-color: var(--color_main_black);
    color: var(--color_main_white);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not(.nav_btn, .blog__card, .main__btn_partner):hover {
    text-decoration: underline;
    color: var(--color_main_blue);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.color_main_blue {
    color: var(--color_main_blue);
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}


p {
    font-size: 24px;
    line-height: 1.167;
}

.p_footer {
    font-size: 16px;
    line-height: 1.25;
}


h1 {
    font-size: 96px;
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: inherit;
}

h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: inherit;
}

.container {
    max-width: calc(var(--width) + var(--padding));
    margin: 0 auto;
}

.nav_btn:hover {
    background-color: var(--color_main_blue);
}

/*header*/


.header__container {
    height: 88px;
    max-width: calc(var(--width) - var(--borders));
    margin: 16px auto 0;
    border: 4px solid var(--color_main_blue);
    border-radius: 64px;
}

.header__container_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}


.header__logo {
    width: 287px;
    height: 32px;
}

.header__btns {
    display: flex;
    gap: 14px;
}


.header__btn-nav {
    border-radius: 24px;
    border: 2px solid var(--color_additional_purple);
    background-color: inherit;
    padding: 12px;
    color: inherit;
}


.header__lang {
    display: flex;
    width: 47px;
    height: 20px;
}

.burger__lang {
    width: 32px;
    height: 32px;
}


.icon_planet {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon_planet.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
}

.header__btn-nav .icon_planet {
    margin-right: 8px;
}


/*main hero section*/

main {
    overflow: hidden;
}

.main__container {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding);
    margin-bottom: -350px;
}


.main__hero {
    display: flex;
    flex-direction: column;
}


.main__container_hero {
    display: flex;
    flex-direction: column;
    max-width: 669px;
    gap: 48px;
    padding-left: 7px;
    padding-top: calc(var(--padding)*2 + 16px);
}

.main__container_blog {
    margin: 135px -20px var(--padding) 0;
}

.main__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main__blog_cards-container {
    display: flex;
    max-height: 595px;
    max-width: 520px;
    margin-right: 15px;
    border-radius: 100px;
    border: 3px solid var(--color_main_blue);
    background-color: var(--color_transp_white12);
    backdrop-filter: blur(10px);
    overflow: scroll;
    overflow-x: hidden;
}

.main__blog_cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.blog__card {
    padding: 14px 64px;
    border-radius: 196px;
    background-color: var(--color_deep_blue);
    max-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}

.blog__card:hover {
    background-color: var(--color_main_blue);
}

.blog__card_date {
    font-family: 'Futura PT', sans-serif;
    font-size: 14px;
    font-weight: 450;
    line-height: 1.143;
    color: var(--color_transp_white60);
}

.main__hero_title,
.main__blog_title {
    text-transform: uppercase;
}

.main__hero_slogan {
    color: var(--color_transp_white60);
    padding-top: 18px;
}


.main__btn_partner {
    height: 72px;
    width: 393px;
    border-radius: 48px;
    background-color: var(--color_main_blue);
    text-transform: uppercase;
    color: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*banner area background*/

.decor {
    position: absolute;
    pointer-events: none;
}

.decor__img {
    position: absolute;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


.main__container_background {
    display: flex;
    position: relative;
    gap: 15px;
    margin-right: 25px;
}


/*main banner section background animation*/


.line_first,
.line_second,
.line_third {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.first__img_shield {
    width: 99.106px;
    height: 99.121px;
    background-image: url("../img/Shield.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.first__img_m {
    width: 99.09px;
    height: 99.09px;
    background-image: url("../img/M.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.first__img_soccer {
    width: 99.103px;
    height: 99.09px;
    background-image: url("../img/Soccer.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.first__img_dollar {
    width: 99.173px;
    height: 220.247px;
    background-image: url("../img/Dollar.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.first__img_world {
    width: 99.173px;
    height: 220.257px;
    background-image: url("../img/World.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.first__img_timer {
    width: 99.106px;
    height: 99.121px;
    background-image: url("../img/Timer.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.first__img_crown {
    width: 99.923px;
    height: 99.923px;
    background-image: url("../img/Crown.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.line_first {
    animation: line_first_translate 10s infinite ease-in-out;
}


.line_second {
    animation: line_second_translate 10s infinite ease-in-out;
}

.line_third {
    animation: line_third_translate 10s infinite ease-in-out;
}


@keyframes line_first_translate {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -100px);
    }

    100% {
        transform: translate(0, 0);
    }
}



@keyframes line_second_translate {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes line_third_translate {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -100px);
    }

    100% {
        transform: translate(0, 0);
    }
}


.footer {
    border: 4px solid var(--color_main_blue);
    border-top-right-radius: 64px;
    border-top-left-radius: 64px;
    border-bottom-color: transparent;
}


.footer__container {
    padding: 0 var(--padding) 24px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
}

.footer__info_pages {
    display: flex;
    gap: 40px;
    padding-top: 45px;
}

.footer__info_socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.socials__media {
    display: flex;
    align-self: flex-end;
}

.socials__btns {
    display: flex;
    gap: 8px;
    align-self: flex-end;
}

.socials__btns_background {
    width: 32px;
    height: 32px;
    background-image: url("../img/BG_Vector.svg");
    position: relative;
}

.socials__btns_img {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.socials__btns_background:hover {
    background-image: url("../img/BG_Vector_active.svg");
}


.icon_twitter {
    background-image: url("../img/Twitter.svg");
}

.icon_facebook {
    background-image: url("../img/Facebook.svg");
}

.icon_instagram {
    background-image: url("../img/Instagram.svg");
}

.icon_linkedIn {
    background-image: url("../img/LinkedIn.svg");
}

.icon_youtube {
    background-image: url("../img/YouTube.svg");
}

.icon_tiktok {
    background-image: url("../img/TikTok.svg");
}

.icon_telegram {
    background-image: url("../img/Telegram.svg");
}

.icon_vk {
    background-image: url("../img/VK.svg");
}

.header__menu_ul {
    display: flex;
    gap: 32px;
}


/* menu burger */


.header__burger_menu {
    display: none;
}


.burger__btn-nav {
    border-radius: 24px;
    border: 2px solid var(--color_additional_purple);
    background-color: inherit;
    color: inherit;
}


.choice {
    display: none;
}


.burger__menu_ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.burger__menu_li:first-child {
    margin-top: -25px;
}

.menu_burger {
    display: none;
}

.menu_burger__one,
.menu_burger__two,
.menu_burger__three {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    display: block;
}

.choice:checked+.label_choice .menu_burger__one {
    transform: rotate(45deg) translate(9px, 8px);
}

.choice:checked+.label_choice .menu_burger__two {
    opacity: 0;
}

.choice:checked+.label_choice .menu_burger__three {
    transform: rotate(-45deg) translate(0px, 0px);
}

.choice:checked+.label_choice+.menu_burger {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    right: 0px;
    width: 300px;
    background-color: var(--color_main_black);
    z-index: 1;
    padding: 0 10px 92px;
}


@media (max-width: 1800px) {
    .blog__card {
        padding: 10px 40px;
        border-radius: 80px;        
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 1550px) {

    p {
        font-size: 24px;
    }
    
    .main__container_hero {
        align-items: center;
        padding-left: 0;
        margin: 0 auto;
        gap: 24px;
        padding-top: calc(var(--padding)/2);
    }

    .main__hero {
        align-items: center;
    }

    .main__hero_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .main__container_blog {
        margin: 0 0 100px 0;
    }

    .blog__card {
        padding: 16px 50px;
    }

    .main__container_background {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 70px auto;
    }

    .line_first,
    .line_second,
    .line_third {
        flex-direction: row;
    }

    .main__container {
        padding: 0 10px;
        flex-direction: column;
        margin-bottom: 0px;
    }


    .first__img_world {
        width: 200px;
        background-image: url("../img/World_row.svg");
    }


    .first__img_dollar {
        width: 200px;
        background-image: url("../img/Dollar_row.svg");
    }


    .first__img_shield,
    .first__img_m,
    .first__img_soccer,
    .first__img_dollar,
    .first__img_shield,
    .first__img_timer,
    .first__img_crown,
    .first__img_world {
        height: 108.87px;
    }


    .line_first {
        animation: line_first_translate_row 10s infinite ease-in-out;
    }


    .line_second {
        animation: line_second_translate_row 10s infinite ease-in-out;
    }

    .line_third {
        animation: line_third_translate_row 10s infinite ease-in-out;
    }


    @keyframes line_first_translate_row {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(-100px, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }



    @keyframes line_second_translate_row {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(100px, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes line_third_translate_row {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(-100px, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}




@media (max-width: 1300px) {

    .burger__menu_li {
        border-radius: 28px;
        border: 2px solid var(--color_main_blue);
        line-height: 2.54;
        font-size: 18px;
        padding-left: 20px;
    }

    .header__btn-nav {
        background-color: var(--color_deep_blue);
    }


    .header__container {
        margin: 10px 10px 0;
    }

    .header__menu {
        display: none;
    }

    .header__btns {
        display: none;
    }

    header {
        position: relative;
    }

    .header__burger_menu {
        display: flex;
        gap: 12px;
        margin: auto 0;
    }


    .burger__menu_btns {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .burger__lang {
        position: relative;
    }

    .icon_planet {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 6px;
        left: 6px;
        background-size: contain;
    }


    .label_choice {
        margin: auto 0;
    }

    .choice:checked+.label_choice {
        margin: 0;
    }

    .choice:checked+.label_choice+.menu_burger {
        margin: 100px auto;
    }


    .footer__info {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }


    .footer__info_pages {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0;
    }


    .socials__media {
        align-self: flex-start;
    }

    .footer__container {
        padding: 20px;
    }
}




@media (max-width: 620px) {

    .header__container {
        height: 52px;
        border: 2px solid var(--color_main_blue);
    }


    .header__container_content {
        align-items: center;
        margin: 8px 20px;
    }

    .header__logo {
        width: 54px;
        height: 18px;
    }

    .main__hero {
        gap: 12px;
    }


    .main__hero_slogan {
        padding-top: 0;
    }


    p {
        font-size: 16px;
        line-height: 1.25;
    }

    h1 {
        font-size: 46px;
        line-height: 1.086;
    }

    h2 {
        font-size: 32px;
        line-height: 1.25;
    }


    h4 {
        font-size: 20px;
        line-height: 1.3;
        text-align: center;
    }

    .main__btn_partner {
        width: 300px;
        height: 53px;
        font-size: 18px;
        line-height: 1;
    }

    .main__container_background {
        gap: 10px;
    }


    .main__container_background {
        margin: 30px auto;
    }


    .first__img_shield,
    .first__img_m,
    .first__img_soccer,
    .first__img_dollar,
    .first__img_shield,
    .first__img_timer,
    .first__img_crown,
    .first__img_world {
        height: 48.99px;
    }

    .first__img_shield,
    .first__img_m,
    .first__img_soccer,

    .first__img_shield,
    .first__img_timer,
    .first__img_crown,
    .first__img_world {
        width: 48.98px;
    }

    .first__img_dollar,
    .first__img_world {
        width: 108.87px;
    }

    .blog__card {
        padding: 15px 26px;
        border-radius: 40px;
        gap: 10px;
    }

    .main__blog_cards {
        padding: 10px 6px;
        gap: 10px;
    }

    .main__blog_cards-container {
        max-height: 491px;
        border-radius: 50px;
        margin-right: 0;
        border: 2px solid var(--color_main_blue);
    }

    .socials__btns_background {
        width: 27px;
        height: 27px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .socials__btns_img {
        width: 13.5px;
        height: 13.5px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .footer {
        border: 2px solid var(--color_main_blue);
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        margin-top: 20px;
    }


    .footer__info {
        margin: 0 auto;
    }

    .footer__info_pages {
        gap: 0;
    }

    body,
    .p_footer {
        font-size: 14px;
        line-height: 1.52;
    }
}


@media (max-width: 320px) {

    p {
        font-size: 16px;
    }

    .blog__card {
        padding-bottom: 19px;
        padding-left: 40px;
    }

    .main__blog_cards-container {
        max-height: 418px;
    }

    .blog__card_date {
        line-height: 0.55;
    }

}